<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <hr>
        <div class="col-md-6">
          <div ng-init="$scope.listings"></div>
          <div class="input-group" id="searchBar">
            <!--
                                          COMPLETED
                Implement a way to filter through listings using the search bar
              -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="query">
          </div>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th>Code</th>
                <th>Building Name</th>
                <th></th>
              </tr>
              <!--
                                          COMPLETED
                  Fill in the rest of the table:
                      * populate the rows with the code and name of each listing
                      * include a way to remove individual listings
                -->
              <tr ng-repeat="entries in listings | orderBy:'code' | filter:query" ng-click="showDetails(entries)">
                <td>{{entries.code}}</td>
                <td>{{entries.name}}</td>
                <td>
                  <button class="btn btn-danger pull-right" type="button" ng-click="deleteListing(entries)">
                    <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
            </table>

          </div>

          <!--                            COMPLETED
              Write an HTML form that adds new listings to the directory
            -->

          <form class="form-style-9" name="addlisting" ng-submit="addListing()" novalidate>
            <h3>Add your very own listing:</h3>
            <ul>
              <li>
                <div class="form-group" ng-class="{'has-error' : addlisting.code.$invalid && !addlisting.code.$pristine}">
                  <input required name="code" type="text" class="field-style field-split align-left" placeholder="Building Code" ng-model="newListing.code"/>
                </div>
                <div class="form-group" ng-class="{'has-error' : addlisting.name.$invalid && !addlisting.name.$pristine}">
                  <input required name="name" type="text" class="field-style field-split align-right" placeholder="Building Name" ng-model="newListing.name"/>
                </div>
              </li>
              <li>
                <div class="form-group" ng-class="{'has-error' : addlisting.coordinates.$invalid && !addlisting.coordinates.$pristine}">
                  <input required name="coordinates" type="number" step="any" class="field-style field-split align-left" placeholder="Latitude" ng-model="newListing.coordinates.latitude"/>
                  <input required name="coordinates" type="number" step="any" class="field-style field-split align-right" placeholder="Longitude" ng-model="newListing.coordinates.longitude"/>
                </div>
              </li>
              <li>
                <div class="form-group" ng-class="{'has-error' : addlisting.address.$invalid && !addlisting.address.$pristine}">
                  <input required name="address" type="text" class="field-style field-full align-none" placeholder="Building Address" ng-model="newListing.address"/>
                </div>
              </li>
            </ul>
            <button type="submit" name="button" class="btn btn-primary btn-block" ng-disabled="addlisting.$invalid">
              Add
              <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i>
            </button>
          </form>

        </div>
        <div class="col-md-6">
          <div class="jumbotron" style="padding: 15px;">
            <h2>
              Detailed Information
              <br>
              <h4 style="text-align: center;">click on one of the listings in order to access a detailed view</h4>
            </h2>
            <!--

              Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature
             -->
          </div>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th>Code</th>
                <th>Building</th>
                <th>Coordinates</th>
                <th>Address</th>
              </tr>
              <tr>
                <td>{{detailedInfo.code}}</td>
                <td>{{detailedInfo.name}}</td>
                <td>{{detailedInfo.coordinates}}</td>
                <td>{{detailedInfo.address}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>
